<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
<head>
    <meta charset="UTF-8">
    <title>Twitter Data Table</title>
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Username</th>
        <th scope="col">Username</th>
        <th scope="col">Username</th>
        <th scope="col">Username</th>
        <th scope="col">Username</th>
        <th scope="col">Username</th>
    </tr>
    </thead>
</table>
</body>
</html>